.video {
    width: 95vw;
    height: 1000px;
    margin: 25px auto;
    background: #eee;
    display: flex;
    @media (max-width: 1000px) {
        display: none;
    }
}

.video-small {
    width: 95vw;
    height: 1000px;
    margin: 25px auto;
    background: #eee;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media (min-width: 1001px) {
        display: none;
    }
}

.video-container {
    flex-grow: 1;
}

.videos {
    width: 400px;
    height: 1000px;
    margin: 10px;
    padding: 5px;
}