<div class="video">
  <div class="video-container">
    <video width="100%" height="auto" class="video-element" [hidden]="!video1Playing" #video1 controls autoplay
      [muted]="true">
      <source [src]="videoSource" type="video/mp4">
    </video>
    <mat-card>
      <mat-card-title>{{video.title}}</mat-card-title>
      <mat-card-subtitle>Obejrzane {{video.watchedCounter}} razy</mat-card-subtitle>
    </mat-card>
  </div>
  <div class="videos">
    <div *ngFor="let video of sidebarVideos" style="cursor: pointer;" [routerLink]="['/video/'+video.id]">
      <mat-card>
        <img [src]="video.thumbnail" style="width: 100%; height: auto; margin-bottom: 5px; margin-top: 5px;">
        <mat-card-title>{{video.title}}</mat-card-title>
        <mat-card-subtitle>Obejrzane {{video.watchedCounter}} razy</mat-card-subtitle>
      </mat-card>
    </div>
  </div>
</div>
<div class="video-small">
  <div class="video-container">
    <video width="100%" height="auto" class="video-element" [hidden]="!video1Playing" #video1 controls autoplay
      [muted]="true">
      <source [src]="videoSource" type="video/mp4">
    </video>
  </div>
  <div class="videos-small">
    <div *ngFor="let video of sidebarVideos" style="cursor: pointer;" [routerLink]="['/video/'+video.id]">
      <img [src]="video.thumbnail" style="width: 100%; height: auto; margin-bottom: 5px; margin-top: 5px;">
      <b style="font-size: 22px;">{{video.title}}</b> <br>
      <span style="font-size: 14px; font-weight: lighter;">Obejrzane {{video.watchedCounter}} razy</span>
    </div>
  </div>
</div>