<div class="video">
  <div class="video-container">
    <video width="100%" height="auto" class="video-element" [hidden]="!video1Playing" #video1 controls autoplay
      [muted]="true">
      <source [src]="videoSource" type="video/mp4">
    </video>
  </div>
  <div class="videos">
    <div *ngFor="let video of sidebarVideos">
      <img [src]="video.thumbnail" style="width: 100%; height: auto; margin-bottom: 5px; margin-top: 5px;">
      <b style="font-size: 21px;">{{video.title}}</b>
      <br>
      <span style="font-size: 14px; font-weight: lighter;">Obejrzane {{video.watchedCounter}} razy</span>
    </div>
  </div>
</div>
<div class="video-small">
  <div class="video-container">
    <video width="100%" height="auto" class="video-element" [hidden]="!video1Playing" #video1 controls autoplay
      [muted]="true">
      <source [src]="videoSource" type="video/mp4">
    </video>
  </div>
  <div class="videos-small">
    <div *ngFor="let video of sidebarVideos">
      <img [src]="video.thumbnail" style="width: 100%; height: auto; margin-bottom: 5px; margin-top: 5px;">
      <b style="font-size: 21px;">{{video.title}}</b>
    </div>
  </div>
</div>