<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akshar">
<div style="display:flex; flex-flow: column; background-color:red;">
<mat-toolbar color="primary" class="my-toolbar">
  <!--
  <button mat-icon-button color="secondary" (click)="drawer.toggle()">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  -->
  <div class="logo-bg">
    <div class="logo-shape">
      <div class="logo-shape-wheel1"></div>
      <div class="logo-shape-wheel2"></div>
      <div class="logo-shape1"></div>
      <div class="logo-shape2"></div>
      <div class="logo-shape3"></div>
      <span>SysTube</span>
    </div>
  </div>


  <div class="search-wrap">
    <div class="search">
       <input type="text" class="search-term">
        <button mat-text-button class="search-button">
          Search
        </button>
    </div>
 </div>

</mat-toolbar>
 <mat-grid-list cols="3">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <router-outlet class="align-to-navbar"></router-outlet>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
  <app-movies-list class="align-to-navbar"></app-movies-list>  
  </mat-grid-tile>
</mat-grid-list>
<!--
<mat-drawer-container class="app-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">

    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="page-content"> 
    -->

<!--
        </div>
</mat-drawer-container>
--></div>
